{% set image = post.thumbnail.src %}
{% set imgClass = image ? ' content__link--thumbnail' : '' %}
<article class="content">
  <a href="{{ post.link|e('esc_url') }}" class="content__link{{ imgClass }}">
    <figure class="content__thumbnail">
      {{ function('get_the_post_thumbnail', post.id, 'large') }}
    </figure>
    <div class="content__body">
      <h3 class="content__heading line-clamp">
        {{ post.title|e('esc_html') }}
      </h3>
      <div class="content__meta">
        <time class="updated line-clamp line-clamp--1">{{ post.post_date|date('M, j, Y') }}</time>
        <div class="line-clamp">
          {{ post.post_expert }}
        </div>
      </div>
    </div>
  </a>
</article>
