{# {%- set links = nav_menu_links -%} #}

<header class="header">
  <div class="header__container">
    <a href="{{ function('home_url') }}" class="header__brand">
      <span class="sr-only">{{ site.name }}</span>
      <i class="header__brand__logo" role="presentation">
        {{ include('dist/images/logo-brand.svg', ignore_missing = true) }}
      </i>
    </a>
    <nav class="header__nav">
      {% for link in links %}
        <a href="{{ link.href }}" target="{{ link.target }}" rel="noopener">
          <span>{{ link.title|e('esc_html') }}</span>
        </a>
      {% endfor %}
    </nav>
  </div>
</header>
<div data-header-trigger></div>

<div class="menuToggleSpacer" data-menu-container>
  <button type="button" role="button" class="menuToggle" title="Menu" data-menu-toggle>
    <i class="menuToggle__btnImage menuToggle__btnImage--close" role="presentation">
      {{ include('dist/images/menu-close.svg', ignore_missing = true) }}
    </i>
    <i class="menuToggle__btnImage menuToggle__btnImage--open" role="presentation">
      {{ include('dist/images/menu-open.svg', ignore_missing = true) }}
    </i>
  </button>
</div>

<nav class="navMenu">
  <div class="navMenu__body">
    <div class="navMenu__links">
      {# {% for link in links %}
        {% if link.label != 'Contact' %}
          <a href="{{ link.href }}" class="navMenu__link" target="{{ link.target }}" rel="noopener">
            <span class="navMenu__link__label">{{ link.label }}</span>
            <small class="navMenu__link__sub">{{ link.title }}</small>
          </a>
        {% endif %}
      {% endfor %} #}
    </div>
    <div class="navMenu__bottom">
      <a href="{{ contact_form_url|e('esc_url') }}"
        class="btn btn--primaryGrad btn--serif navMenu__btn"
        target="_blank"
        rel="noopener noreferrer">
        <span class="btn__label">Contact</span>
      </a>
    </div>
  </div>
</nav>
