{% extends 'base.twig' %}

{% block content %}
  {{ include('components/page-header.twig', { lead: post.slug, sub: post.title, tag: 'div' }) }}
  <article class="section">
    <div class="container container--max-entry">
      {{ include('components/entry-meta.twig', ignore_missing = true) }}
    </div>
    <div class="container container--max-entry">
      <h1 class="heading h3">
        {{ post.title }}
      </h1>
      {% if function('has_post_thumbnail') %}
        <figure class="entry-thumbnail mb-lg">
          {{ function('get_the_post_thumbnail', post.id) }}
        </figure>
      {% endif %}
    </div>
    <div class="container container--max-entry entry-content">
      {{ post.content }}
    </div>
  </article>
{% endblock %}
